<!-- <div class="social-footer-section">
  <div class="social-footer-inner">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-align-center">
        <fa name="fab fa-instagram" class="social-button-padding"></fa>
        <fa name="fab fa-facebook-f" class="social-button-padding"></fa>
        <fa name="fab fa-twitter" class="social-button-padding"></fa>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
  </div>
</div> -->
<div class="footer-section">
  <div class="social-footer-inner">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-align-center">
        <!-- <p class="powered-by-text">Custom-made by <a class="link-to-kasuria" href="https://kohan-creative.herokuapp.com">Kohan Creative</a></p> -->
        <p class="all-rights-reserved">Copyright &copy; 2018 KOHAN. All Rights Reserved.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
  </div>
</div>