<div id="header-unit"></div>
<kohan-navbar></kohan-navbar>

<section class="full-individual-section">

  <!-- Contact Us Modal -->
  <ngx-smart-modal #contactUsModal identifier="contactUsModal" customClass="nsm-dialog-animation-btt">
    <kohan-contact-us></kohan-contact-us>
  </ngx-smart-modal>

  <div id="video-container">
    <video #graphicVideo autoplay="" loop="true" muted="true" playsinline="true" class="fillWidth" style="object-fit: cover;" src="https://firebasestorage.googleapis.com/v0/b/kohan-creative.appspot.com/o/Ankara%20-%2012717.mp4?alt=media&token=6f0995f6-a854-4064-95e5-1f8b827f6fd3">
      <!-- <source src="https://firebasestorage.googleapis.com/v0/b/kohan-creative.appspot.com/o/Ankara%20-%2012717.mp4?alt=media&token=6f0995f6-a854-4064-95e5-1f8b827f6fd3"
        type="video/mp4" /> -->
    </video>
  </div>
  <!-- end video-container -->

  <!-- Work With Us Modal -->
  <ngx-smart-modal #myModal identifier="myModal" customClass="nsm-dialog-animation-btt">
    <kohan-work-with-us></kohan-work-with-us>
  </ngx-smart-modal>

  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 class="kohan-header-tagline text-align-center">Graphic Design & Branding</h1>
        <p class="desc-smaller-text text-align-center">Craft Your Visually Compelling Story</p>
      </div>
    </div>
  </div>

  <div class="scroll-down-header-arrow-container scroll-down-arrow-center hide-on-mobile">
    <div class="text-align-center">
      <div class="scroll-down-animation" (click)="scrollToPageSection('visual-storytelling')">
        <fa name="chevron-down" size="2x" class="scroll-down-animation" (click)="scrollToPageSection('visual-storytelling')"></fa>
      </div>
    </div>
  </div>

  <!-- end .header-unit -->
</section>

<div class="app-background">
  <div class="container">


    <section class="full-individual-section" id="visual-storytelling">
      <div class="row align-items-center align-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center">
          <img src="../assets/img/branding_logos_1@1.5x.png" class="img-fluid" [class.slide-in-left]="pageSection == 'visual-storytelling'">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center" [class.slide-in-right]="pageSection == 'visual-storytelling'">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Visual Storytelling</div>
          </h3>
          <p class="text-align-center services-paragraph">
            We work closely with you to get to know the true purpose and story behind your dental practice, with the intent of reimagining
            your brand and building a foundation that is in harmony with your overall vision.
          </p>
          <h3 class="learn-more-title text-align-center">
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Learn More</button>
          </h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center pt-5 hide-on-mobile">
          <div class="scroll-down-animation" (click)="scrollToPageSection('purposeful-assets')">
            <fa name="chevron-down" size="2x" class="scroll-down-animation" (click)="scrollToPageSection('purposeful-assets')"></fa>
          </div>
        </div>
      </div>
    </section>


    <section class="full-individual-section" id="purposeful-assets">
      <div class="row align-items-center align-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center" [class.slide-in-elliptic-top-fwd]="pageSection == 'purposeful-assets'">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Purposeful Assets</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Your brand isn't just your logo. From health history and referral forms to appointment and business cards, we create assets
            specifically tailored to accommodate your growing dental practice's needs.
          </p>
          <h3 class="learn-more-title text-align-center">
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Get In Touch</button>
          </h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-first order-md-2 text-align-center">
          <img src="../assets/img/LittleBytesReferral.png" class="img-fluid" [class.slide-in-elliptic-top-fwd]="pageSection == 'purposeful-assets'">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center pt-5 order-last hide-on-mobile">
          <div class="scroll-down-animation" (click)="scrollToPageSection('lasting-impressions')">
            <fa name="chevron-down" size="2x" class="scroll-down-animation" (click)="scrollToPageSection('digital-office')"></fa>
          </div>
        </div>
      </div>
    </section>

    <section class="full-individual-section" id="lasting-impressions">
      <div class="row align-items-center align-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center">
          <img src="../assets/img/ali_referring form_front_CVC.png" class="img-fluid" [class.scale-in-center]="pageSection == 'lasting-impressions'">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center" [class.scale-in-center]="pageSection == 'lasting-impressions'">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Lasting Impressions</div>
          </h3>
          <p class="text-align-center services-paragraph">
            For your dental or medical practice, experience is everything. We extend the comforting, luxurious experience you carefully
            cultivate by infusing your brand with the same empathy and passion, further strengthening the bond you share
            with your patients.
          </p>
          <h3 class="learn-more-title text-align-center">
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Learn More</button>
          </h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center pt-5 hide-on-mobile">
          <div class="scroll-down-animation" (click)="scrollToPageSection('header-unit')">
            <fa name="chevron-up" size="2x" class="scroll-down-animation" (click)="scrollToPageSection('header-unit')"></fa>
          </div>
        </div>
      </div>
    </section>

  </div>
  <kohan-footer></kohan-footer>
</div>

<!-- Fixed site navigation -->
<div class="site-side-nav">
  <ul>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'header-unit' ? 600 : 400" (click)="scrollToPageSection('header-unit')">
      <div (click)="scrollToPageSection('header-unit')">TOP</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'visual-storytelling' ? 600 : 400" (click)="scrollToPageSection('visual-storytelling')">
      <div (click)="scrollToPageSection('visual-storytelling')">STORY</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'purposeful-assets' ? 600 : 400" (click)="scrollToPageSection('purposeful-assets')">
      <div (click)="scrollToPageSection('purposeful-assets')">PURPOSE</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'lasting-impressions' ? 600 : 400" (click)="scrollToPageSection('lasting-impressions')">
      <div (click)="scrollToPageSection('lasting-impressions')">LASTING</div>
    </li>
  </ul>
</div>