<div class="kohan-header">
  <div class="kohan-inner-header">
    <div class="kohan-header-nav">
      <nav class="navbar navbar-expand-lg navbar-light kohan-navbar-background">
        <a class="navbar-brand" routerLink="/home">
          <img class="kohan-logo img-fluid" src="../assets/img/KOHAN-Creative-Logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation" style="border-color: transparent;">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mobile-padding">
            <li class="services-item-container dropdown">
              <a class="services-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu dropdown-container" aria-labelledby="navbarDropdown">
                <a class="dropdown-link services-link" routerLink="/web-design-development">Web Design & Development</a>
                <a class="dropdown-link services-link" routerLink="/graphic-design-branding">Graphic Design & Branding</a>
                <a class="dropdown-link services-link" routerLink="/social-media-marketing">Social Media Marketing</a>
              </div>
            </li>
            <!-- <li class="services-item-container">
              <a class="services-link" routerLink="/web-design-development">Web Design & Development
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="services-item-container">
              <a class="services-link" routerLink="/graphic-design-branding">Branding & Graphic Design
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="services-item-container">
              <a class="services-link" routerLink="/social-media-marketing">Social Media Marketing
                <span class="sr-only">(current)</span>
              </a>
            </li> -->
            <li class="services-item-container">
              <a class="services-link" routerLink="/packages">Packages
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="services-item-container">
              <a class="services-link" routerLink="/about-us">About Us
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <!-- <li class="services-item-container">
              <a class="services-link" href="#">About</a>
            </li> -->
            <!-- <li class="services-item-container">
              <div class="services-link-button" (click)="openWorkWithUsModal()">Work With Us</div>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Work With Us Modal -->
<ngx-smart-modal #myModal identifier="myModal">
  <kohan-work-with-us></kohan-work-with-us>
</ngx-smart-modal>