.desc-wrapper-container {
  min-height: 0;
  /* padding: 130px 0; */
  padding: 0px 0px 60px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.desc-wrapper {
  animation: feature-text-anim .75s ease-in-out;
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.desc-smaller-text {
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #c3c1c1;
  margin: 20px auto;
  text-align: center;
}

.kohan-header-tagline {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 58px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.1em;
  color: #FFFFFF;
}

.kohan-header-button {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #FFFFFF !important;
  color: #FFFFFF;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.75em;
  display: inline-block;
  line-height: 1em;
  margin: 20px 0;
  transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;  
  cursor: pointer;
}

.kohan-header-button:hover {
  background-color: #FFFFFF;
  color: #181818;
  cursor: pointer;
}

.spacing-section {
  margin-top: 8%;
}

.kohan-secondary-statement {
  text-align: center;
  font-weight: 300;
}

.services-image-margins {
  margin-bottom: 8%;
}

.service-offering-container {
  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  height: auto;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
  transition: box-shadow .2s ease-in-out;
}

.service-offerings-content {
  cursor: auto;
  outline: none;
}

.service-offerings-title {
  color: #1F1F1F;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.3em;
}

.package-subheader {
  color: #1F1F1F;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.3em;
}

.link-to-services {
  color: rgba(31,31,31,.5);
  text-decoration: none;
  word-wrap: break-word;
  background: transparent;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.services-paragraph {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.6em;
  color: #1F1F1F;
  margin-top: 1em;
}

.img-cursor {
  cursor: pointer;
}

.work-with-us-modal-button {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.work-with-us-modal-button:hover {
  background-color: #000000;
  color: #EFEFEF;
  cursor: pointer;
}

.lighter-font-weight {
  font-weight: 300;
}

.red-package {
  color: rgb(255, 69, 21);
  /* box-shadow: 0 0.25rem 0.75rem rgb(255, 69, 21) !important; */
}

.gold-package {
  color: rgb(255, 214, 38);
  /* box-shadow: 0 0.25rem 0.75rem rgb(255, 214, 38) !important; */
}

.black-package {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05) !important;
}

.pricing-subsection-title {
  color: #1F1F1F;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.6em;
  text-align: left;
}

.package-features-paragraph {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1em;
  color: #1F1F1F;
  margin-top: 1em;
}

.package-features-muted {
  font-weight: 300;
  font-style: normal;
  font-size: 80%;
  letter-spacing: .5px;
  line-height: 1em;
  color: #1F1F1F;
  margin-top: 10%;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.sign-up-button {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* padding: 1em 1.75em; */
  padding: 16px 28px;
  font-size: 16px;
}

.sign-up-button:hover {
  background-color: #000000;
  color: #EFEFEF;
  cursor: pointer;
}

.question-tooltip {
  cursor: help;
}

.hover-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.contact-us-modal {
  top: 50% !important;
}

.invalid-text {
  font-weight: 300;
  color: #dc3545;
}

.work-with-us-modal-button-disabled {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: not-allowed;
}

.work-with-us-modal-button-disabled:hover {
  /* background-color: #000000; */
  /* color: #EFEFEF; */
  color: #000000;
  background-color: #CCCCCC;
  cursor: not-allowed;
}

.iphone-background {
  background-image: url('../../assets/img/iPhone.png');
  background-size: 100% 100%;
  min-height: 800px;
}

.iphone-padding {
  padding: 4% 8% 4% 10%;
}

.iphone-margins {
  margin-top: 35%;
}

.responsive-iphone-container {
  /* font-size: 0.85px; */
  display: none;
}

.individual-iphone-margins {
  margin: 2%;
}


@media only screen and (max-width: 640px) {
  .desc-wrapper-container {
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .desc-smaller-text {
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #c3c1c1;
    margin: 10px auto;
    text-align: center;
  }

  .kohan-header-tagline {
    display: block;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.1em;
    color: #FFFFFF;
  }

  .kohan-secondary-statement {
    font-size: 26px;
  }

  .desc-wrapper {
    padding: 84px 32px 64px 32px;
  }

  .service-offerings-title {
    font-size: 20px;
  }

  .package-subheader {
    font-size: 12px;
  }

  .responsive-iphone-container {
    font-size: 0.69px;
    display: block;
  }
  
  .individual-iphone-margins {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .package-features-paragraph {
    font-size: 12px;
  }

  .sign-up-button {
    color: #000000;
    border: 1px solid #000000;
    background-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 14px;
    font-size: 12px;
  }
}

@keyframes feature-text-anim {
  0% {
    opacity: 0;
    position:relative;
    transform:( translate3d(0,10px,0) );
  }
  75% {
    opacity: 0;
    transform:( translate3d(0,10px,0) );
  }
  100% {
    opacity:1;
    transform:( translate3d(0,0,0) );
  }
}